# Laravel specific
.env
.env.*
vendor/
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
composer.lock

# Application specific
public/storage/
public/hot/
storage/*.key
storage/logs/*
bootstrap/cache/*

# Testing specific
tests/Feature/*
tests/Unit/*
.phpunit.result.cache

# Other
Homestead.yaml
Homestead.json
/.idea
/.vagrant
/.vscode
/.DS_Store
/.env.development
/.env.local
/.env.production
/.env.staging
